
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/more">More</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/dashboard">Dashboard</a>
      </li>
    </ul>
    <% if ( typeof session.passport != 'undefined' && 
            session.passport.user) 
    { %>
      <a class="nav-link btn btn-secondary" href="/users/logout">
      Logout</a>
    <% } %>
</div>
</nav>