
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h3>ENKY</h3>
      <div>
        <p>Express boilerplate for user authentication</p>
        <p>with express-session, passport.</p>
      </div>
    </div>
  </div>
</div>
  