
<style>
  span {
    margin: 1rem 2rem;
  }
</style>

<%- include('../partials/messages') %>
<h5 class="text-center"><%= session.user.name %> dashboard</h5> 
  <div class=" table-responsive">
    <table class=" table">
      <tr>
        <th>ID</th><th>Name</th><th>Email</th>
      </tr>
      <% if(typeof users != 'undefined') { %>
        <% users.forEach(function(i) { %>
          <%- include('userRow', {i}); %>
        <% }); %>
      <% } %>
    </table>
  </div>

